In [2]:
#Read the datasets
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
benin_df=pd.read_csv('C:/Users/abenet/Desktop/data/benin-malanville.csv')
sierra_df=pd.read_csv('C:/Users/abenet/Desktop/data/sierraleone-bumbuna.csv')
togo_df=pd.read_csv('C:/Users/abenet/Desktop/data/togo-dapaong_qc.csv')

In [17]:
#In all 3 files there is no null value except for the comments column which is completely null so 
# we need to remove it from all datasets
benin_df.drop('Comments',axis=1,inplace=True)
sierra_df.drop('Comments',axis=1,inplace=True)
togo_df.drop('Comments',axis=1,inplace=True)

Statistical Analysis

In [5]:
#Mean, Mode, Median(50%) and STD for benin dataframe
benin_df.describe().round(2)

,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB
count,525600.00,525600.00,525600.00,525600.00,525600.00,525600.00,525600.00,525600.00,525600.00,525600.00,525600.00,525600.00,525600.00,525600.00,525600.00,525600.00,525600.00
mean,240.56,167.19,115.36,236.59,228.88,28.18,54.49,2.12,2.81,0.47,153.44,8.58,994.20,0.00,0.00,35.25,32.47
std,331.13,261.71,158.69,326.89,316.54,5.92,28.07,1.60,2.03,0.27,102.33,6.39,2.47,0.03,0.04,14.81,12.35
min,-12.90,-7.80,-12.60,0.00,0.00,11.00,2.10,0.00,0.00,0.00,0.00,0.00,985.00,0.00,0.00,9.00,8.10
25%,-2.00,-0.50,-2.10,0.00,0.00,24.20,28.80,1.00,1.30,0.40,59.00,3.70,993.00,0.00,0.00,24.20,23.60
50%,1.80,-0.10,1.60,4.50,4.30,28.00,55.10,1.90,2.60,0.50,181.00,8.60,994.00,0.00,0.00,30.00,28.90
75%,483.40,314.20,216.30,463.70,447.90,32.30,80.10,3.10,4.10,0.60,235.10,12.30,996.00,0.00,0.00,46.90,41.50
max,1413.00,952.30,759.20,1342.30,1342.30,43.80,100.00,19.50,26.60,4.20,360.00,99.40,1003.00,1.00,2.50,81.00,72.50

In [6]:
#Mean, Mode, Median(50%) and STD for sierraleone dataframe
sierra_df.describe().round(2)

,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB
count,525600.00,525600.00,525600.00,525600.00,525600.00,525600.00,525600.00,525600.00,525600.00,525600.00,525600.00,525600.00,525600.00,525600.00,525600.00,525600.00,525600.00
mean,201.96,116.38,113.72,206.64,198.11,26.32,79.45,1.15,1.69,0.36,133.04,7.17,999.88,0.00,0.00,32.50,32.59
std,298.50,218.65,158.95,300.90,288.89,4.40,20.52,1.24,1.62,0.30,114.28,7.54,2.10,0.03,0.05,12.43,12.01
min,-19.50,-7.80,-17.90,0.00,0.00,12.30,9.90,0.00,0.00,0.00,0.00,0.00,993.00,0.00,0.00,10.70,11.10
25%,-2.80,-0.30,-3.80,0.00,0.00,23.10,68.70,0.00,0.00,0.00,0.00,0.00,999.00,0.00,0.00,23.50,23.80
50%,0.30,-0.10,-0.10,3.60,3.40,25.30,85.40,0.80,1.60,0.40,161.50,6.20,1000.00,0.00,0.00,26.60,26.90
75%,362.40,107.00,224.70,359.50,345.40,29.40,96.70,2.00,2.60,0.60,234.10,12.00,1001.00,0.00,0.00,40.90,41.30
max,1499.00,946.00,892.00,1507.00,1473.00,39.90,100.00,19.20,23.90,4.10,360.00,98.40,1006.00,1.00,2.40,72.80,70.40

In [7]:
#Mean, Mode, Median(50%) and STD for togo dataframe
togo_df.describe().round(2)

,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB
count,525600.00,525600.00,525600.00,525600.00,525600.00,525600.00,525600.00,525600.00,525600.00,525600.00,525600.00,525600.00,525600.00,525600.00,525600.00,525600.00,525600.00
mean,230.56,151.26,116.44,226.14,219.57,27.75,55.01,2.37,3.23,0.56,161.74,10.56,975.92,0.00,0.00,32.44,33.54
std,322.53,250.96,156.52,317.35,307.93,4.76,28.78,1.46,1.88,0.27,91.88,5.92,2.15,0.02,0.03,11.00,12.77
min,-12.70,0.00,0.00,0.00,0.00,14.90,3.30,0.00,0.00,0.00,0.00,0.00,968.00,0.00,0.00,13.10,13.10
25%,-2.20,0.00,0.00,0.00,0.00,24.20,26.50,1.40,1.90,0.40,74.80,6.90,975.00,0.00,0.00,23.90,23.60
50%,2.10,0.00,2.50,4.40,4.30,27.20,59.30,2.20,2.90,0.50,199.10,10.80,976.00,0.00,0.00,28.40,28.40
75%,442.40,246.40,215.70,422.52,411.00,31.10,80.80,3.20,4.40,0.70,233.50,14.10,977.00,0.00,0.00,40.60,43.00
max,1424.00,1004.50,805.70,1380.00,1367.00,41.40,99.80,16.10,23.10,4.70,360.00,86.90,983.00,1.00,2.30,70.40,94.60